body{
	background-image: url('background-image.jpg');
	background-size: cover;
	background-repeat: no-repeat ;
	background-position: center;
	font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;	
	padding: 0;
}
table {
	
	border: 5px solid black;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, 0.8); /* Add transparency */
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	
}

input[type="button"] {
	width: 100px;
	height: 50px;
	padding: 15px;
	margin: 5px ;
	background-color: rgba(65, 104, 113, 0.959);
	color: white;
	font-size: 24px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
input[type="button"]:hover{
	background-color: #3e787f;
}

input[type="text"] {
	
	padding-top: 20px ;
	padding-bottom: 20px;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	border: 2px solid black;
	text-align: center;
}

#display {
	text-align: right;
	width: 100%;
	background-color:rgba(255, 255, 255, 0.9) ;
}
